<h2>Listing projects</h2>

<% if !@projects.nil? %>
<% @projects.each do |project| %>
<table>
  <tr>
  </tr>

  <tr>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
  <p>You have no projects currently defined.</p>
<% end %>

<br />

<%= link_to 'New project', new_project_path %>
