<h2>Listing projects</h2>

<% if !@projects.nil? %>
  <table border="0">
  <% @projects.each do |project| %>
    <tr>
      <td rowspan="4" style="padding: 0 1em 0 0;"><img src="/images/logo-80px.png" width="80" /></td>
      <td><%= project.name %></td>
    </tr>
    <tr>
      <td><%= project.description %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>You have no projects currently defined.</p>
<% end %>

<br />

<%= link_to 'New project', new_project_path %>
